@use 'variables';

// Chat page
@use 'chat/chat_page.css';
@use 'educationPage/education_page.css';
@use 'authPages/auth_pages.css';
@use 'map/map-page.css';
@use 'resources/resources-page.css';
@use 'specialists/specialist-page.css';